.rs-price {
  padding-bottom: 120px;
}
@media (max-width: 991.98px) {
  .rs-price {
    padding-bottom: 80px;
  }
}
.rs-price__container {
  position: relative;
  z-index: 1;
}
.rs-price__slider {
  overflow: visible !important;
}
@media (max-width: 991.98px) {
  .rs-price__slider {
    margin-top: 34px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (min-width: 991.98px) {
  .rs-price__swiper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -12px;
  }
}
@media (min-width: 991.98px) {
  .rs-price__slide {
    padding: 12px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}
.rs-price__item {
  height: 100%;
  width: 100%;
  border-radius: 24px;
  background-color: #fff;
  color: #000000;
  position: relative;
  padding: 64px 23px 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rs-price__item::before {
  content: "";
  position: absolute;
  top: 27px;
  left: -8px;
  pointer-events: none;
  z-index: 1;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  border: 3px solid #111;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 991.98px) {
  .rs-price__item::before {
    top: 8px;
    left: -8px;
  }
}
.rs-price__item .rs-btn {
  color: #100f0f;
  border-color: #1d1919;
  background-color: transparent;
  cursor: pointer;
}
.rs-price__item:hover::before {
  top: 0;
  left: 0;
}
.rs-price__item:hover .rs-price__desc_font {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.rs-price__item:hover .rs-price__desc_back {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.rs-price__item:hover .rs-btn {
  color: #fff;
  border-color: #1d1919;
  background-color: #1d1919;
}
.rs-price__img {
  margin-bottom: 16px;
}
.rs-price__desc {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}
.rs-price__desc_font, .rs-price__desc_back {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rs-price__desc_font {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.rs-price__desc_back {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.rs-price__desc h5 {
  font-weight: 700;
  text-align: center;
}
@media (max-width: 991.98px) {
  .rs-price__desc h5 {
    font-size: 20px;
  }
}
.rs-price__desc h6 {
  font-size: 16px;
  margin-top: 24px;
  text-align: center;
}
.rs-price__desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111;
}
@media (max-width: 1439.98px) {
  .rs-price__desc p {
    font-size: 13px;
  }
}
.rs-price__desc ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1439.98px) {
  .rs-price__desc ul li {
    font-size: 13px;
  }
}
.rs-price__desc ul li::before {
  content: "";
  position: relative;
  display: block;
  max-width: 4px;
  max-height: 4px;
  min-width: 4px;
  min-height: 4px;
  border-radius: 50%;
  background-color: #111;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
.rs-price__footer {
  margin: 24px 0px 0px 0px;
}
.rs-price__footer .rs-btn {
  margin-top: 24px;
  padding: 15px 39px 15px;
  font-size: 16px;
}
.rs-price__hint {
  margin-top: 82px;
  margin-left: auto;
  margin-right: auto;
  max-width: 664px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #f6f1e9;
}
@media (max-width: 991.98px) {
  .rs-price__hint {
    margin-top: 40px;
    text-align: left;
    font-size: 14px;
  }
}
.rs-price__bg {
  top: -220px;
  left: -268px;
  width: 1303px;
  height: 1303px;
}
@media (max-width: 991.98px) {
  .rs-price__bg {
    width: 961px;
    height: 961px;
    left: -214px;
    top: -360px;
  }
}