.rs-steps__wrapper {
  position: relative;
}
.rs-steps__block {
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-steps__block {
    margin-top: 37px;
  }
}
.rs-steps__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  position: relative;
}
@media (max-width: 991.98px) {
  .rs-steps__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.rs-steps__line {
  position: absolute;
  top: 25px;
  left: 0;
  width: 808px;
  height: 1px;
  background-color: #ffe700;
  z-index: 0;
  display: block;
}
@media (max-width: 991.98px) {
  .rs-steps__line {
    left: 20px;
    top: 0px;
    width: 1px;
    height: 0px;
  }
}
.rs-steps__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25.5%;
          flex: 0 0 25.5%;
}
.rs-steps__item:not(:last-child) {
  padding-right: 24px;
}
@media (max-width: 991.98px) {
  .rs-steps__item:not(:last-child) {
    padding-right: 0px;
    padding-bottom: 23px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
}
.rs-steps__num {
  margin-bottom: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffe700;
  font-family: "Kanit Cyrillic", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #000;
  width: 100%;
  max-width: 48px;
  height: 48px;
}
@media (max-width: 991.98px) {
  .rs-steps__num {
    max-width: 40px;
    height: 40px;
    font-size: 24px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__desc {
    margin-left: 16px;
    padding-top: 11px;
  }
}
@media (max-width: 991.98px) {
  .rs-steps__desc h6 {
    font-size: 16px;
  }
}