.rs-footer {
	background-color: #111111;
	padding: 120px 0px 32px;
	color: #fff;
	position: relative;
	z-index: 10;

	@media (max-width: 991.98px) {
		z-index: 0;
		padding-top: 0px;
	}

	// .rs-footer__container
	&__container {
		position: relative;
		z-index: 1;
	}

	// .rs-footer__wrapper
	&__wrapper {
		@media (min-width: 991.98px) {
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: 30px;
		}

		@media (max-width: 991.98px) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	// .rs-footer__contact
	&__contact {
		@media (min-width: 991.98px) {
			grid-column: 1/8;
		}

		@media (max-width: 991.98px) {
			order: 2;
		}

		& > h2 {
			@media (max-width: 991.98px) {
				display: none;
			}
		}

		h2 {
			margin-bottom: 0px;
		}

		ul {
			margin-top: 32px;

			@media (max-width: 991.98px) {
				margin-top: 60px;
			}

			li {
				display: flex;
				align-items: center;
				font-family: "Comfortaa", sans-serif;
				font-weight: 400;
				font-size: 20px;
				line-height: 150%;
				color: #f6f1e9;

				@media (max-width: 991.98px) {
					font-size: 18px;
				}

				img {
					border-radius: 50%;
					padding: 10px;
					border: 2px solid #fff;
					margin-right: 16px;
				}

				&:not(:last-child) {
					margin-bottom: 16px;
				}

				a {
					transition: color 0.3s ease 0s;

					@media (any-hover: hover) {
						&:hover {
							color: #b890e7;
						}
					}
				}
			}
		}
	}

	// .rs-footer__form
	&__form {
		@media (min-width: 991.98px) {
			grid-column: 8/13;
		}

		@media (max-width: 991.98px) {
			order: 1;
		}

		& > h2 {
			@media (min-width: 991.98px) {
				display: none;
			}
		}

		// .rs-footer__form_block
		&_block {
			@media (max-width: 991.98px) {
				margin-top: 34px;
			}
		}
	}

	.rs-header__wrapper {
		padding: 0;
		margin-top: 120px;

		@media (max-width: 991.98px) {
			align-items: flex-start;
			margin-top: 48px;
		}

		.menu__list {
			@media (max-width: 991.98px) {
				text-align: left;
				max-width: 170px;
			}

			li {
				@media (max-width: 991.98px) {
					&:not(:last-child) {
						margin-bottom: 16px;
					}
				}
				a {
					color: #fff;

					&::after {
						background-color: #fff;
					}

					@media (max-width: 991.98px) {
						font-size: 16px;
					}
				}
			}
		}
	}

	// .rs-footer__bg
	&__bg {
		right: -270px;
		bottom: -484px;
		width: 881px;
		height: 881px;

		@media (max-width: 991.98px) {
			display: none;
		}
	}
}
