@font-face {
	font-family: "Comfortaa";
	src:
		url("../fonts/Comfortaa-Bold.woff2") format("woff2"),
		url("../fonts/Comfortaa-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Kanit Cyrillic";
	src:
		url("../fonts/KanitCyrillicRegular.woff2") format("woff2"),
		url("../fonts/KanitCyrillicRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Comfortaa";
	src:
		url("../fonts/Comfortaa-Regular.woff2") format("woff2"),
		url("../fonts/Comfortaa-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
