.rs-price {
	padding-bottom: 120px;

	@media (max-width: 991.98px) {
		padding-bottom: 80px;
	}

	// .rs-price__container
	&__container {
		position: relative;
		z-index: 1;
	}

	// .rs-price__wrapper
	&__wrapper {
	}

	// .rs-price__slider
	&__slider {
		overflow: visible !important;

		@media (max-width: 991.98px) {
			margin-top: 34px;
			padding-left: 8px;
			padding-right: 8px;
		}
	}

	// .rs-price__swiper
	&__swiper {
		@media (min-width: 991.98px) {
			display: flex;
			flex-wrap: wrap;
			margin: -12px;
		}
	}

	// .rs-price__slide
	&__slide {
		// min-height: 100px;
		// height: auto;

		@media (min-width: 991.98px) {
			padding: 12px;
			flex: 0 0 25%;
			max-width: 25%;
		}
	}

	// .rs-price__item
	&__item {
		height: 100%;
		width: 100%;
		border-radius: 24px;
		background-color: #fff;
		color: #000000;
		position: relative;
		padding: 64px 23px 56px;
		display: flex;
		flex-direction: column;
		align-items: center;

		&::before {
			content: "";
			position: absolute;
			top: 27px;
			left: -8px;
			pointer-events: none;
			z-index: 1;
			border-radius: inherit;
			width: 100%;
			height: 100%;
			border: 3px solid #111;
			transition: all 0.3s ease 0s;

			@media (max-width: 991.98px) {
				top: 8px;
				left: -8px;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				&::before {
					top: 0;
					left: 0;
				}

				.rs-price__desc_font {
					transform: translateX(-100%);
				}

				.rs-price__desc_back {
					transform: translateX(-100%);
				}
			}
		}
	}

	// .rs-price__img
	&__img {
		margin-bottom: 16px;
	}

	// .rs-price__desc
	&__desc {
		width: 100%;
		flex-grow: 1;
		position: relative;
		display: inline-flex;
		overflow: hidden;

		&_font,
		&_back {
			flex: 0 0 100%;
			transition: transform 0.3s ease 0s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&_font {
			transform: translateX(-0%);
		}

		&_back {
			transform: translateX(-0%);
		}

		h5 {
			font-weight: 700;
			text-align: center;

			@media (max-width: 991.98px) {
				font-size: 20px;
			}
		}

		h6 {
			font-size: 16px;
			margin-top: 24px;
			text-align: center;
		}

		p {
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			color: #111;

			@media (max-width: 1439.98px) {
				font-size: 13px;
			}
		}

		ul {
			li {
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				color: #111;
				display: flex;
				align-items: flex-start;

				@media (max-width: 1439.98px) {
					font-size: 13px;
				}

				&::before {
					content: "";
					position: relative;
					display: block;
					max-width: 4px;
					max-height: 4px;
					min-width: 4px;
					min-height: 4px;
					border-radius: 50%;
					background-color: #111;
					margin-top: 8px;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}

	// .rs-price__footer
	&__footer {
		margin: 24px 0px 0px 0px;

		.rs-btn {
			margin-top: 24px;
			padding: 15px 39px 15px;
			font-size: 16px;
		}
	}

	&__hint {
		margin-top: 82px;
		margin-left: auto;
		margin-right: auto;
		max-width: 664px;
		width: 100%;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		text-align: center;
		color: #f6f1e9;

		@media (max-width: 991.98px) {
			margin-top: 40px;
			text-align: left;
			font-size: 14px;
		}
	}

	// .rs-price__bg
	&__bg {
		top: -220px;
		left: -268px;
		width: 1303px;
		height: 1303px;

		@media (max-width: 991.98px) {
			width: 961px;
			height: 961px;
			left: -214px;
			top: -360px;
		}
	}
}
