.rs-services {
	margin: 136px 0px 120px;

	@media (max-width: 1169.98px) {
		margin: 100px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 75px 0px 82px;
	}

	// .rs-services__container
	&__container {
	}

	// .rs-services__wrapper
	&__wrapper {
	}

	// .rs-services__list
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 24px;

		@media (max-width: 1169.98px) {
			gap: 24px;
		}

		@media (max-width: 991.98px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 15px;
		}

		@media (max-width: 767.98px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 10.3px;
		}
	}

	// .rs-services__item
	&__item {
		@media (max-width: 991.98px) {
			display: flex;
			align-items: flex-start;
		}
	}

	// .rs-services__img
	&__img {
		margin-bottom: 32px;

		@media (max-width: 991.98px) {
			margin-bottom: 0px;
			min-width: 48px;
			min-height: 48px;
			max-width: 48px;
			max-height: 48px;
		}
	}

	// .rs-services__desc
	&__desc {
		@media (max-width: 991.98px) {
			margin-top: 14px;
			margin-left: 16px;
		}
	}
}
